<div class="form-group pt-5">
  <label for="car-name">Car name</label>
  <input
    type="text"
    class="form-control"
    id="car-name"
    placeholder="Car name"
    [(ngModel)]="carName">
</div>

<div class="form-group">
  <label for="car-model">Car model</label>
  <input
    type="text"
    class="form-control"
    id="car-model"
    placeholder="Car model"
    [(ngModel)]="carModel">
</div>

<button (click)="onAdd()" type="button" class="btn btn-outline-primary">Add Car</button>
<button (click)="onDelete()" type="button" class="btn btn-outline-secondary">Load Cars</button>